@import './icons.sass'

// Helper classes --------------------------------------------------------------

// align content to right
.ralign
  text-align: right

// align content to right and use mono-spaced font
.numeric
  @extend .ralign
  font-family: 'Droid Sans Mono', monospace

// indicate the next maturity
.next
  position: relative

// Indicate a table cell with action associated with it
// set cursor to indicate this is clickable
.action
  cursor: pointer
  position: relative

  // icon in cell
  i
    position: absolute
    padding: .5rem
    visibility: hidden

  // show icon on hover or when parent is marked as active
  &:hover, &.active
    i
      visibility: visible

// Helper classes --------------------------------------------------------------

// Reset defaults --------------------------------------------------------------

*
  box-sizing: border-box

h1
  font-family: 'Droid Serif', serif
  color: #E9573F
  text-transform: uppercase
  letter-spacing: 1rem
  align-self: center

html
  font-size: 100%

body
  font: normal .875rem/.875rem 'Droid Sans', sans-serif
  display: flex
  flex-direction: column
  justify-content: center
  align-items: stretch
  margin: 0
  padding: 0

// Reset defaults --------------------------------------------------------------

// Input form styles -----------------------------------------------------------

// form container
.form
  display: flex
  justify-content: space-between

  .input-group:nth-child(2n)
    margin-left: 1rem

  // input label
  label
    font-weight: bold

// Input form styles -----------------------------------------------------------

// Individual elements ---------------------------------------------------------


// Individual elements ---------------------------------------------------------

// Main UI container
.container
  display: flex
  justify-content: space-around
  min-width: 960px

  // <section> tags will represent columns in the table
  section
    border-top: 1px solid #656D78
    border-bottom: 1px solid #656D78

    // <div> tags that are direct children of the <section> tag are rows of the
    // column
    & > div
      display: flex
      justify-content: space-between
      align-items: center
      height: 2rem
      padding: 0 .25em

      // first row is the title of the column
      &:first-child
        justify-content: stretch
        height: 3rem
        line-height: 1.25rem
        background-color: #434A54
        color: #E8CE4D

        // icon in first row
        i
          color: #5D9CEC
          padding: 1rem
          top: 0
          right: 0

        // icon status change when in active parent
        &.active i
          color: #AA8E69

        // drop-down  container that open under column title
        > .dropdown
          background-color: #F5F7FA
          border: 1px solid rgba(60, 59, 61, .3)
          box-shadow: 0 2px 5px rgba(67, 74, 84, .9)
          color: #656D78
          font-weight: normal
          position: absolute
          top: 100%
          left: 0
          padding: 1rem
          min-width: 100%
          z-index: 1

      // last row is where we show the total
      &:last-child
        background-color: #7DB1B1
        border: none

      // 3rd and following rows should have top border as table row separators
      & + div + div
        border-top: 1px dotted #CCD1D9

      // rows from 2 to 3 have special highlighting
      & + div:nth-child(-n+3)
        background-color: #8CC152
        color: #000

      // row 4 also have special highlighting
      & + div:nth-child(4)
        background-color: #F6BB42

  // <section> tags that are direct children of the .container needs to have
  // darker complexion and are the first and last columns that show titles and
  // totals respectively.
  & > section
    min-width: 130px

    // rows 2 to 4 with special highlighting
    & > div:nth-child(-n+4)
      font-weight: bold

    // first column that shows the row titles
    &:first-child
      background-color: #F5F7FA
      border-left: 1px solid #656D78

      // first row of first column. Since we show first row of every column in
      // the same background color, we need to use right border here to indicate
      // column separation
      & > div:first-child
        border-right: 1px dotted #656D78

    // last column that show the row totals
    &:last-child
      background-color: #E6E9ED
      border-right: 1px solid #656D78

      // last column rows
      & > div
        @extend .ralign
        flex-direction: row-reverse

        // first row, title
        &:first-child
          border-left: 1px dotted #656D78

        // last row, grand total of every row and column
        &:last-child
          font-weight: bold

        // 2nd and following rows that show numeric values
        & + div
          @extend .numeric

  // secondary container and the middle section of the table. This has a fixed
  // and is horizontally scrollable, showing 4 column at a time.
  .hscroll
    display: flex
    flex-grow: 1

    // columns in the scrollable area
    & > section
      flex-grow: 1

      // rows in the scrollable area
      & > div
        // title (first) row
        &:first-child
          font-weight: bold

          span
            text-align: center
            width: 100%

        // last (column total) row
        &:last-child
          background-color: #A0CECB

        // 2nd and following rows that show numeric values
        & + div
          @extend .numeric
          flex-direction: row-reverse
          position: relative

          // rows 2 to 3 are specially highlighted
          &:nth-child(-n+3)
            background-color: #A0D468

          // row 4 also specially highlighted
          &:nth-child(4)
            background-color: #FFCE54

          // icon in first row
          i
            color: #AC92EC
            top: 0
            left: 0

          .popover
            background-color: rgba(0, 0, 0, .8)
            border-radius: 3px
            box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3)
            color: #fff
            font-family: 'Droid Sans'
            white-space: nowrap
            visibility: hidden
            opacity: 0
            transition: opacity .2s linear .2s
            padding: .5rem
            position: absolute
            left: .5em
            top: -28px
            z-index: 1

            &::after
              content: '\f0d7'
              font-family: FontAwesome
              color: rgba(0, 0, 0, .7)
              text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3)
              position: absolute
              bottom: -9px
              left: .5rem

        &:hover
          .popover
            visibility: visible
            opacity: 1

      // rows in the 2nd and following scrollable columns
      & + section > div
        border-left: 1px dotted #CCD1D9

        // title row
        &:first-child
          border-left: 1px dotted #656D78
